@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;800&display=swap');
*,*::after,*::before{
  text-decoration: none !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background: #222;
  font-family: 'Open Sans', sans-serif;
}
.btn-duyme{
  background: #3A68B8;
border-radius: 6px;
padding: 10px 15px;
max-width: 100%;
height: 44px;
font-weight: 600;
font-size: 16px;
line-height: 22px;
margin-right: 5px;
}

.wrapper{
  padding: 0 287px;
}

.famous{
  cursor: default;
}
.nav-link{
  font-weight: 600;
font-size:16px;
line-height: 22px;
margin-right:20px;
position: relative;
}
.nav-link::before{
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  transition: all 1.2s ease;
  transform-origin:left;
  border-radius: 15px;
  transform: scale(0);
}
.nav-link:hover::before{
  transform: scale(1);
}
.bars-icon{
  color: #ccc;
  font-size: 36px;
  font-weight: 500;

}
.overlay-menu{
background-color:rgba(0,0,0,0.8);
height: 100vh;
  width:0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
overflow-x: hidden;
transition: 1.2s ease-out;
}
.aktive{
  width: 100%;
}
.cross-icon{
  color: #ccc;
  position: absolute;
  top: 34px;
  right: 44px; 
  font-size: 36px;
  font-weight: 800;
  cursor: pointer;
}
.nav-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.nav-links a{
color: #ccc;
font-size: 34px;
font-weight: 500;
position: relative;
margin-bottom: 10px;
padding: 5px 10px;
transition:all 1s ease;
}
.nav-links a:hover{
  color: #ccc;
  transform: translateX(20px);
}
.nav-links a::after{
  content: "";
  position: absolute;
  /* top: 0; */
  left: 0;
  bottom: 0;
  width: 100%;
  height:8px;
  background-color: #dcdde1;
  z-index: -1;
  transform-origin: right;
border-radius: 15px;
transform: scale(0);
transition:all 1s ease;
}
.nav-links a:hover::after{
  transform: scale(1);
}
.left-side h6{
  font-weight: 600;
font-size: 18px;
line-height: 160%;
text-transform: uppercase;
color: #3A68B8;
}
.left-side h1{
  font-weight: 800;
font-size: 44px;
line-height:130%;
color: #fff;
}
.left-side p{
  font-weight: 600;
font-size: 18px;
line-height: 160%;
color: #fff;
opacity: .7;
/* padding-top: 40px; */
}
.left-side{
  padding: 193px 0 90px 0;
}
.right-side{
  padding-top: 73px;
}
.right-side img {
  max-width: 100%;
  height: 100%;
}
.image img{
 width:400px !important;
 height: 266px !important;
 padding:110px 0;
 max-width:100%;

}
 .image{ 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card{
  display: flex;
  justify-content:center;
  align-items: center;
  min-width: 100%;
  width: 15%;
  border: 1px solid #ddd;
  padding: 20px 40px;
  margin-bottom: 70px;
  height: 382px !important;
  
}

.swiper{
  max-width: 100%;
}
.card img{
  max-width: 100%;
  width: 35%;
  padding-bottom: 10px;
}
.card h3{
  font-size: 18px;
  font-weight: 800;
}
.card p{
  font-size: 14px;
  font-weight: 500;
}
.cards{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
  margin-left: 20px;
  padding: 20px 0;
}
.cards a{
  font-weight: 500;
font-size: 14px;
line-height: 18px;
color: #fff;
}

.rabite a{
  font-weight: 600;
font-size: 12px;
line-height: 18px;
color: #fff;
}
.cards p{
  padding-top: 5px;
  font-weight: 450 !important;
font-size: 14px !important;
line-height: 18px !important;
color: #fff !important;
opacity: .6 !important;
}
.cards h5{
  font-weight: 500;
font-size: 14px;
line-height: 20px;
color:#fff;
}
.rabite{
  display: flex;
  flex-direction: column;
}
.imagesCards img{
  padding: 25px 10px;
}
@media(max-width:1534px){
  .wrapper{
    padding: 0 150px;
  }
}
@media(max-width:1356px) and (min-width:1079px){
  .wrapper{
    padding: 0 100px;
  }
}
@media(max-width:1079px){
  .wrapper{
    padding: 0 80px;
  }
  .left-side h1{
    font-size: 30px;
  }
  .left-side p{
    font-size: 16px;
  }
  .rabite a{
    font-size: 11px;
  }
  .cards h5{
    font-size: 12px;
  }
  .cards p{
    font-size: 12px  !important;
  }
  
.imagesCards img{
  padding: 15px 3px;
}
}


@media(max-width:500px){
  .wrapper{
    padding:0 40px;
  }
  .cards h5{
    font-size: 12px;
  }
  .cards p{
    font-size: 12px  !important;
  }
  
.imagesCards img{
  padding: 15px 3px;
}
.left-side h1{
  font-size: 28px;
}
.left-side p{
  font-size: 16px;
}
.cards:nth-child(3){
  display: none;
    }
}


@media(max-width:360px){
  .wrapper{
    padding: 0 30px;
  
  }
  .famous{
  display: none;
  }
  .bars-icon{
    position: absolute;
    right: 10px;
    top: 20px;
  }
  .left-side h1{
    font-size: 24px;
  }
  .left-side p{
    font-size: 14px;
  }
  .cards:nth-child(3){
display: none;
  }
  .cards:nth-child(2){
    display: none;
  }
  .card{
    padding: 10px;
    height: 300px !important;
  }
  .card h3{
    font-size: 15px;
  }
  .card p{
    font-size: 12px;
  }
}